@font-face {
  font-family: "DejaVu Sans Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFontMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "DejaVu Sans Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFontMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/JetBrainsMono/NoLigatures/Regular/JetBrainsMonoNLNerdFontMono-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/JetBrainsMono/NoLigatures/Bold/JetBrainsMonoNLNerdFontMono-Bold.ttf");
  font-style: bold;
  font-weight: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "Source Code Pro Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "Source Code Pro Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Bold.ttf");
  font-style: bold;
  font-weight: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "Ubuntu Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Regular/UbuntuMonoNerdFontMono-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-variant-alternates: inherit;
}

@font-face {
  font-family: "Ubuntu Mono Nerd";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Bold/UbuntuMonoNerdFontMono-Bold.ttf");
  font-style: bold;
  font-weight: normal;
  font-variant-alternates: inherit;
}
